* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: Helvetica;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31em;
    width: 17em;
    border-radius: 25px;
    background-color: #272626;
}

.screen-container {
    height: 6.5em;
    width: 13.8em;
    margin-bottom: 80px;
}

#screen {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    background-color: white;
    height: 130px;
    width: auto;
    color: black;
    text-align: right;
    font-size: 25px;
}

button {
    border: solid #272626;
    border-radius: 20%;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 20px;
}

.grey {
    background-color: #b0b0af;
}

.grey:active {
    background-color: #d6d6d6;
}

.orange {
    background-color: #ed6125;
    color: #fafafa;
}

.orange:active {
    background-color: #fafafa;
    color: #ed6125;
}

.operator-chosen {
    background-color: #f8b195;
    color: #f67280;
}

.dark-grey {
    background-color: #5d5b5b;
    color: #ffffff;
}

.dark-grey:active {
    background-color: #a09fa2;
}

#zero {
    background-color: #5d5b5b;
    color: white;
    width: 115px;
    border-radius: 10px;
    text-align: left;
    text-indent: 12px;
}


#zero:active {
    background-color: #a09fa2;
}

