* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: Helvetica;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30em;
    width: 17em;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 0px #c7c7c7,
                2px 2px 0px #c7c7c7,
                3px 3px 0px #c7c7c7,
                4px 4px 0px #c7c7c7,
                5px 5px 0px #c7c7c7,
                6px 6px 0px #c7c7c7;
}

.screen-container {
    height: 4em;
    width: 13.8em;
    margin-bottom: 80px;
}

#screen {
    color: black;
    font-size: 50px;
    text-align: right;
    margin-top: 50px;
}

button {
    border: solid white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 20px;
}


/* AC, % */
.grey {
    background-color: #b0b0af;
}

.grey:active {
    background-color: #d6d6d6;
}


/* Operators */
.orange {
    background-color: #ed6125;
    color: #fafafa;
}

.orange:active {
    background-color: white;
    color: #ed6125;
}

/* .operator-chosen {
    background-color: #f8b195;
    color: #f67280;
} */


/* Numbers */
.dark-grey {
    background-color: #5d5b5b;
    color: #ffffff;
}

.dark-grey:active {
    background-color: #a09fa2;
}


/* Power button */
#power {
    color: #fff;
    text-shadow:
        0 0 7px #0fa,
        0 0 10px #0fa,
        0 0 21px #0fa,
        0 0 42px #0fa,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
    background-color: #5d5b5b;
}

